

<a href="/ideas"> Bright_Ideas </a>

</br>
</br>
</br>

<h1>Name: <%= @user.name%></h1>
<h1>Alias: <%= @user.alias%></h1>
<h1>Email: <%= @user.email%></h1>

<p>--------------------------------------------------</p>
<p><h2>Total No of posts: <%= @user.ideas.count %><h2></p>
<p><h2>Total No of likes: <%= @user.likes.count %></h2></p>

